public/index.html
<!DOCTYPE html><html><head><title></title><link rel="stylesheet" href="/assets/stylesheets/style.css"><meta name="viewport" content="width=320,user-scalable=no"></head><body><header class="title"><h1>RPi <small>(Nginx/Node.js server, HiFi source)</small></h1></header><article class="intro"><p>This is Kashi's Raspberry Pi HiFi experiment. This Pi is running a specialised build of  <a href="http://volumio.org/" title="Check out the Volumio project homepage" target="_blank">Volumio</a> which has been modified to run a <a href="http://nodejs.org/" title="Check out the Node.JS homepage" target="_blank">Node.js</a> web application supported by <a href="http://nginx.org/" title="Check out the NginX homepage" target="_blank">Nginx</a> for static file serving.</p></article><article class="server"><h2>Server</h2><hr><p>Some basic information about the current state of this Raspberry Pi machine.</p><section class="cpu"><h3>CPU</h3><p>This instance of Node.js is being run on a <strong><span id="cpuSpeed"></span><small>MHz</small></strong><em class="cpuType"></em>.</p><h4>Total CPU Usage</h4><p>The CPU is currently under <span id="cpuLoad">--</span>% load.</p><div id="cpuLoad" class="chart loading"></div><h4>Load averages</h4><ol class="load-averages key-value"><li class="1-minute-sample"><span class="key">1 minute</span><span class="value">--</span></li><li class="5-minute-sample"><span class="key">5 minutes</span><span class="value">--</span></li><li class="15-minute-sample"><span class="key">15 minutes</span><span class="value">--</span></li></ol><div id="loadAveragesChart" class="chart loading"></div></section><section class="uptime"><h3>Server uptime</h3><p>This server has been continually running for:<ol class="uptime key-value"><li class="days"><span class="key">Days</span><span class="value">--</span></li><li class="hours"><span class="key">Hours</span><span class="value">--</span></li><li class="minutes"><span class="key">Minutes</span><span class="value">--</span></li><li class="seconds"><span class="key">Seconds</span><span class="value">--</span></li></ol></p></section><section class="memory"><h3>Memory usage</h3><ul class="memory-usage key-value"><li class="total"><span class="key">Total</span><span class="value">--<small>MB</small></span></li><li class="used"><span class="key">In use</span><span class="value">--<small>MB</small></span></li><li class="free"><span class="key">Free</span><span class="value">--<small>MB</small></span></li></ul><div id="memoryChart" class="chart loading"></div></section></article><article class="network"><h2>Network</h2><hr><section class="computers"><h3>Computers</h3><p>Displays the status of other computers on the LAN. Please <a href="/login">log in</a>if you wish to perform any wake commands.</p><table><thead><tr><td class="computer">Computer</td><td class="status">Status</td></tr></thead><tbody><tr data-ip-tail='51'><td class="computer">XMBCRPi</td><td class="status">-</td></tr><tr data-ip-tail='71'><td class="computer">MediaPC</td><td class="status">-</td></tr><tr data-ip-tail='120'><td class="computer">KashmaNiaCsAMD</td><td class="status">-</td></tr></tbody></table></section><section class="activity"><h3>Activity</h3><p>The current upload throughput is <span id="upload">--</span><small>KB/s</small> and download throughput <span id="download">--</span><small>KB/s</small>.</p><ul class="network-activity key-value"><li class="upload"><span class="key">Upload</span><span class="value">--<small>KB/s</small></span></li><li class="download"><span class="key">Download</span><span class="value">--<small>KB/s</small></span></li></ul><div id="networkActivityChart" class="chart loading"></div></section></article><article class="services"><h2>Services</h2><hr><section class="global"><h3>Global</h3><p>Lists the services that this server exposes and runs regular checks to
 see that the service is still active.<section class="services global"><table><thead><tr><td class="name">Name</td><td class="status">Status</td></tr></thead><tbody><tr><td class="name">Nginx (www)</td><td class="status">--</td></tr><tr><td class="name">Nginx (Volumio proxy)</td><td class="status">--</td></tr><tr><td class="name">Nginx (socket.io proxy)</td><td class="status">--</td></tr></tbody></table></section></p></section><section class="local"><h3>Local</h3><p>Lists the services that this server uses locally and runs regular
 checks to see that the service is still active.<section class="services local"><table><thead><tr><td class="name">Name</td><td class="status">Status</td></tr></thead><tbody><tr><td class="name">MPD</td><td class="status">--</td></tr><tr><td class="name">TrueCrypt</td><td class="status">--</td></tr></tbody></table></section></p></section></article><footer><small class="footnote">Served with a Raspberry Pi Model B.</small></footer><!--script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js')--><script src="//code.highcharts.com/highcharts.js"></script><script src="//code.jquery.com/jquery-2.1.1.min.js"></script></body></html>

public/index.jade
extends ../views/layout
block content
  header.title
    h1
      | RPi 
      small (Nginx/Node.js server, HiFi source)

  article.intro
    p
      | This is Kashi's Raspberry Pi HiFi experiment. This Pi is running a specialised build of  
      a(href="http://volumio.org/",title="Check out the Volumio project homepage",target="_blank") Volumio
      |  which has been modified to run a 
      a(href="http://nodejs.org/",title="Check out the Node.JS homepage",target="_blank") Node.js
      |  web application supported by 
      a(href="http://nginx.org/",title="Check out the NginX homepage",target="_blank") Nginx
      |  for static file serving.
      
  article.server
    h2 Server
    hr
    p
      | Some basic information about the current state of this Raspberry Pi machine.

    section.cpu
      h3 CPU
      p
        | This instance of Node.js is being run on a 
        strong
          span#cpuSpeed
          small MHz
        em.cpuType
        | .
      h4 Total CPU Usage
      p
        | The CPU is currently under 
        span#cpuLoad --
        | % load.
      div#cpuLoad.chart.loading
      
      h4 Load averages
      ol.load-averages.key-value
        li.1-minute-sample
          span.key 1 minute
          span.value --
        li.5-minute-sample
          span.key 5 minutes
          span.value --
        li.15-minute-sample
          span.key 15 minutes
          span.value --
      div#loadAveragesChart.chart.loading

    section.uptime
      h3 Server uptime
      p
        |This server has been continually running for:
        ol.uptime.key-value
          li.days
            span.key Days
            span.value --
          li.hours
            span.key Hours
            span.value --
          li.minutes
            span.key Minutes
            span.value --
          li.seconds
            span.key Seconds
            span.value --

    section.memory
      h3 Memory usage
      ul.memory-usage.key-value
        li.total
          span.key Total
          span.value --
            small MB
        li.used
          span.key In use
          span.value --
            small MB
        li.free
          span.key Free
          span.value --
            small MB
      div#memoryChart.chart.loading

  article.network
    h2 Network
    hr

    section.computers
      h3 Computers
      p
        | Displays the status of other computers on the LAN. Please 
        a(href="/login") log in
        | if you wish to perform any wake commands.

      table
        thead
          tr
            td.computer Computer
            td.status Status
        tbody
          tr(data-ip-tail=51)
            td.computer XMBCRPi
            td.status -
          tr(data-ip-tail=71)
            td.computer MediaPC
            td.status -
          tr(data-ip-tail=120)
            td.computer KashmaNiaCsAMD
            td.status -

    section.activity
      h3 Activity
      p
        | The current upload throughput is 
        span#upload --
        small KB/s
        |  and download throughput 
        span#download --
        small KB/s
        | .

      ul.network-activity.key-value
        li.upload
          span.key Upload
          span.value --
            small KB/s
        li.download
          span.key Download
          span.value --
            small KB/s
      div#networkActivityChart.chart.loading
  
  article.services
    h2 Services
    hr
    section.global
      h3 Global
      p
        | Lists the services that this server exposes and runs regular checks to
        |  see that the service is still active.
        section.services.global
          table
            thead
              tr
                td.name Name
                td.status Status
            tbody
              tr
                td.name Nginx (www)
                td.status --
              tr
                td.name Nginx (Volumio proxy)
                td.status --
              tr
                td.name Nginx (socket.io proxy)
                td.status --

    section.local
      h3 Local
      p
        | Lists the services that this server uses locally and runs regular
        |  checks to see that the service is still active.
        section.services.local
          table
            thead
              tr
                td.name Name
                td.status Status
            tbody
              tr
                td.name MPD
                td.status --
              tr
                td.name TrueCrypt
                td.status --
      


  footer
    small.footnote
      | Served with a Raspberry Pi Model B.
